@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:700');
@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic');
@import "bootstrap";

body {
  font-family: 'Carrois Gothic', sans-serif;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.navbar {
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: 700;
  box-shadow: 0px 1px 3px #2a2a2a;
}

#navbar-brand {
  color: red;
}

.hero {
   background: image_url('hollywood.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.frosty h1 {
  font-family: 'Carrois Gothic', sans-serif;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: 'Carrois Gothic', sans-serif;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.btn {
  border-radius: 0;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}